---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			html,body {
				height: 100%;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Some Guide about <b>Game Hacking</b></h1>
			<p>
				Welcome to the Game Hacking Guide! This guide is intended to help you get started with game hacking. It will cover the basics of game hacking, including how to find and modify game memory, how to create cheats, and how to use game hacking tools.
			</p>
		</main>
		<Footer />
	</body>
</html>
